# change prefix
# unbind C-b
# set -g prefix C-Space
# bind C-Space send-prefix

# split pane with prefx + v and h
bind v split-window -h -c "#{pane_current_path}"
bind h split-window -v -c "#{pane_current_path}"

# Pane Border
set -g pane-border-status top

# enter copy mode
unbind [
bind Escape copy-mode

# vim copy mode, yank with Enter
set -g mode-keys vi
bind -T copy-mode-vi v send -X begin-selection

# start window index 1
set -g base-index 1

# rename window to dir
set -g automatic-rename on
set -g automatic-rename-format "#{b:pane_current_path}"

# enable mouse support
set -g mouse on
